html {
    height: 100%;   
}    

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #1F2937;
    color: #F9FAF8;
}

header {
    display: flex;
    justify-content: left;
    padding: 25px;
    border-bottom: 1px solid #F9FAF8;
}

main {
    display: flex;
    flex: 1;
}

#projects, #tasks {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#projects {
    flex: 1;
    border-right: 1px solid #F9FAF8;
}

#projects-list {
    list-style-type: none;
    padding-inline-start: 0px;
}

#projects-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
}

#projects-list li:hover {
    background-color: rgba(249, 250, 248, 0.1);
    border-radius: 5px;
}

.current-project {
    background-color: rgba(249, 250, 248, 0.3);
    border-radius: 5px;
}

hr {
    width: 100%;
}

.centered-header {
    text-align: center;
}

#tasks {
    flex: 4;
}

#add-task-div {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: stretch;
}

#add-task-div label {
    align-self: center;
}

#task-list {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
}

.task-li {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #F9FAF8;
    gap: 10px;
}

.task-li:hover {
    background-color: rgba(249, 250, 248, 0.1);
}

.due-date-span {
    margin-left: auto;
}

.task-complete {
    text-decoration: line-through;
}

.task-details-modal-background {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
}

.task-details-modal-div {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 2rem;
    opacity: 1;
}

#task-modal-controls {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

label {
    display: block;
}

.task-details-modal-div input,
.task-details-modal-div select,
.task-details-modal-div textarea {
    margin-bottom: 1rem;
}

input,
select,
textarea {
    padding: 10px;
    min-height: 2rem;
    border-radius: 5px;
    font-family: sans-serif;
    border: none;
}

textarea {
    min-width: 5rem;
    min-height: 5rem;
}

button {
    padding: 10px;
    border: 1px solid #F9FAF8;
    border-radius: 5px;
    background-color: #1F2937;
    color: #F9FAF8;
}

button:hover {
    background-color: #F9FAF8;
    color: #1F2937;
}

.delete-button {
    background-color: red;
}

.priority-high {
    color: red;
}

.priority-medium {
    color: yellow;
}

.priority-low {
    color: #F9FAF8;
}

footer {
    display: flex;
    justify-content: center;
    padding: 25px;
    margin-top: auto;
    border-top: 1px solid #F9FAF8;
}